{% from "bootstrap5/form.html" import render_form %}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Spin the Wheel</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body>
    <div id="rain-container"></div>
    <div id="sidebar">
      <div id="user-section">
        <div id="user-title">
          <img
            src="{{ url_for('static', filename='assets/instagram_icon.webp') }}"
            alt="Instagram Logo"
          />
          <a
            id="user-name"
            href="https://www.instagram.com/r7em.gt"
            target="_blank"
            >R7em.gt</a>
        </div>

        <ul id="rules-list">
          <h3>وصف الفعالية :</h3>
          <p></p>
          <h3>قوانين السحب :</h3>
          <li>القاعدة ١: يمكن الدوران مرة واحدة يوميًا</li>
          <li>القاعدة ٢: لا تغش</li>
          <li>القاعدة ٣: تابع حسابنا على إنستجرام</li>
          <li>القاعدة ٤: سيتم الإعلان عن الفائزين أسبوعيًا</li>
          <!-- أضف المزيد من القواعد هنا -->
        </ul>
      </div>
    </div>

    <div id="popup">
      <div class="popup-content">
        <p id="popup-text"></p>
        <button id="close-popup">OK</button>
      </div>
    </div>
    <div id="main-layout">
      {% if user_count == 0 and not is_authenticated %}
      <form method="POST">
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"})
        }}
      </form>
      {% endif %}
      <div id="spin_the_wheel">
        <canvas id="wheel" width="550" height="550"></canvas>
        <div id="spinButton">SPIN</div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script>
      const sectors = [
          {% for prize in prizes %}
              { color: "{{ prize.color }}", text: "#fff", label: "{{ prize.label }}" }{{ "," if not loop.last }}
          {% endfor %}
      ];
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
