<!DOCTYPE html>
{% from "bootstrap5/form.html" import render_form %}
<html>
  <head>
    <title>Welcome to Spin the Wheel</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="rain-container"></div>

    <div id="popup">
      <div class="popup-content">
        <p id="popup-text"></p>
        <button id="close-popup">OK</button>
      </div>
    </div>
    <div id="main-layout">
      {% if is_authenticated %}
      <div id="admin-panel">
        <h3>Admin Panel</h3>
        <br>

        <form method="POST">
        {{ render_form(NormalForm, novalidate=True, button_map={"submit":
        "primary"}) }}
        </form>
      <br>

      <form method="POST">
        {{ render_form(VipForm, novalidate=True, button_map={"submit":
        "warning"}) }}
      </form>
      <br>

      <form method="POST">
        {{ render_form(DeleteUserForm, novalidate=True, button_map={"submit": "danger"}) }}
      </form>
      <br>
        <div class="admin-buttons">
          <button id="delete-all-users" onclick="window.location.href='{{url_for("delete_all")}}'">Delete All Users</button>
          <button id="delete-all-vip-users" onclick="window.location.href='{{url_for("delete_all_vip")}}'">Delete All Vip Users</button>
          <button id="delete-all-messages" onclick="window.location.href='{{url_for("delete_messages")}}'">Delete All Messages</button>
          <button id="delete-all-vip-messages" onclick="window.location.href='{{url_for("delete_messages_vip")}}'">Delete All Vip Messages</button>
        </div>
      </div>
      {% endif %}
      <div id="spin_the_wheel">
        <canvas id="wheel" width="550" height="550"></canvas>
        <div id="spinButton">SPIN</div>
      </div>
    </div>

    <div id="chat-container">
      <div id="chat-header">Live Chat</div>
      <div id="chat">
        {% for msg in messages %} {% if msg.message|length >= 1 %}
        <div>{{ msg.message }}</div>
        {% endif %} {% endfor %}
      </div>

      <div id="chat-input">
        <input id="message" placeholder="Message" />
        <button id="send">Send</button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script>
      const sectors = [
          {% for prize in prizes %}
              { color: "{{ prize.color }}", text: "#fff", label: "{{ prize.label }}" }{{ "," if not loop.last }}
          {% endfor %}
      ];
    </script>
    <script src="https://unpkg.com/bad-words@3.0.4/badwords.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
